/* Education.css */

.education-section {
  padding: 0;
  margin: 80px 170px;
  text-align: center;
}

.section-title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.education-container {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  gap: 40px;
}

.card--education {
  width: 320px;
  min-width: 320px;
  background-color: rgba(31, 31, 31, 0.95);
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .section-title {
    font-size: 36px;
  }

  .education-section {
    margin: 40px 20px;
    padding: 0;
  }

  .education-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card--education {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .education-container {
    grid-template-columns: repeat(2, 320px);
  }
}
