.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 170px;
  gap: 80px;
}
.projects-title {
  position: relative;
}
.projects-title h1 {
  padding: 0px 30px;
  font-weight: 600;
  font-size: 80px;
}
.projects-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.projects-list {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.projects-list .card--project {
  width: 320px;
  min-width: 320px;
}

@media (max-width: 768px) {
  .projects-container {
    gap: 40px;
    margin: 40px 20px;
  }
    .projects-title h1 {
  padding: 0px 30px;
  font-weight: 600;
  font-size: 40px;
    }
  .projects-list {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .projects-list .card--project {
    width: 90%;
    min-width: 0;
    justify-self: center;
  }
  .projects-title img {
 width: 130px;
 right: -20px;
}

@media (max-width: 1200px) {
  .projects-list {
    grid-template-columns: repeat(2, 320px);
    justify-content: center;
  }
}
}
