.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-image: url('../../assets/bbb.AVIF');
   background-size: cover;
  background-position: center; */
  gap: 60px;
}
.hero-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 145px;
}
.hero-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
  
}
.hero-about h1 {
  font-weight: 600;
  text-align: start;
  font-size: 40px;
  width: 70%;
}
.hero-about h1 span {
  background: #a259ff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-about p {
  font-size: 20px;
  font-weight: 500;
  line-height:50px;
  gap: 5px;
  text-align: start;

}

.hero-title img {
  width: 300px;
  height: 300px;
  margin-top: 150px;
  border-radius: 50%;
  transition: 0.5s;
}
.hero-title img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.resume {
  margin-top: 50px;
  width: 50%;
  padding: 20px 36px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  background: #32323c;
  border: none;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
}

.resume:hover,
.resume:focus {
  outline: none;
  transform: scale(1.12);
  background-color: #1b1079;
  border: 2px solid white;
  transition: 0.5s;
}

.resume:active {
  transform: translateY(0);
  background-color: rgb(51, 21, 33);
  box-shadow: 0 6px 10px rgba(37, 81, 175, 0.2);
}

@media (max-width:768px) {
  .hero-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.hero-title img {
  display: none;
}
.hero-about p {
  font-size: 28px;
  text-align: start;
}
.hero-about h1 {
  font-size: 48px;
  text-align: start;
}
  
}