.skills-section {
  margin: 80px 170px;
  text-align: center;
}

.skills-title {
  position: relative;
}

.skills-title h1 {
  font-size: 80px;
  margin-bottom: 30px;
  padding: 0px 30px;
  font-weight: 600;
}

.skills-title img {
  bottom: 0;
  z-index: -1;
  position: absolute;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.skill-category {
  background-color: #333;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  transition: transform 0.3s ease;
}

.skill-category:hover {
 transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 123, 255, 0.4);
  border: 2px solid #007bff;
}

.skill-category h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #fff;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skill-item {
  display: flex;
  align-items: center;
  font-size: 17.6px; /* 1.1rem */
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.skill-item:hover {
  color: #007bff;
}

.skill-icon {
  margin-right: 10px;
  font-size: 24px; 
}

/* Colors for the specific Icons */
.html { color: #e34c26; }
.css { color: #264de4; }
.js { color: #f0db4f; }
.react { color: #61dafb; }
.node { color: #68a063; }
.mongo { color: #4db33d; }
.tailwind { color: #06b6d4; }
.github { color: #fff; }
.figma { color: #a259ff; }
.postman { color: #ff6c37; }
.express { color: #fff; }

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .skills-section{

  }
  .section-title {
    font-size: 32px; 
  }

  .skills-title img {
    width: 130px;
  }

  .skills-title h1 {
    padding: 0px 30px;
    font-weight: 600;
    font-size: 40px;
  }

  .skills-container {
    flex-direction: column;
    gap: 20px;
  }

  .skill-category {
    min-width: auto;
    width: 90%;
    padding: 15px;
  }

  .skill-category h2 {
    font-size: 21px; 
  }

  .skill-item {
    font-size: 16px; 
  }

  .skill-icon {
    margin-right: 10px;
    font-size: 29px; 
  }
}



