/* Experience.css */

.experience-section {
  padding: 0;
  margin: 80px 170px;
  text-align: center;
}

.section-title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card--experience {
  width: 320px;
  min-width: 320px;
}

.card--experience ul {
  text-align: left;
  padding-left: 18px;
  margin: 0;
}

.card--experience li {
  margin-bottom: 10px;
  color: #ddd;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .section-title {
    font-size: 36px;
  }

  .experience-section {
    margin: 40px 20px;
    padding: 0;
  }

  .experience-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card--experience {
    width: 90%;
  }

  .card--experience ul {
    padding-left: 0;
    list-style-position: inside;
  }

  .card--experience li {
    font-size: 14px;
  }
}
